html, body{
    margin: 0;
    padding: 0;
}

a, p, text, button{
    font-family:'noirpro-lightuploaded_file';
}
h2, h1{
    font-family: 'noirpro-semibolduploaded_file';
}
button, h5{
    font-family: 'noirpro-lightuploaded_file';
}
.clear{
    clear: both;
}

h1{
    color: #ee2b32;
}

h3 {
    color: #ee2b32;
}

h1#page-title {
    margin: 25px 0;
}

.hd-into {
    border-bottom:45px solid #18a9e1;

}

main {
    overflow: hidden;
}
.nav-bar{
    color: #687867;
    font-size: 16px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.nav-bar ul {
    list-style: none;
}

.nav-bar ul li {
    display: inline-block;
}

.mg-0{
    margin: 0;
}
.nav-bar a{
    text-transform: uppercase;
}

.btn-orcamento{
    width: 190PX;
    height: 52px;
    border-radius: 26px;
    border: none;
    font-size: 17px;
    padding: 15px;
}

.btn-orcamento:hover{
    background-color: red;
}

.text-justify {
    text-align: justify;
}
.redes-sociais {
    text-align: center;
}

.redes-sociais ul {
    position: relative;
    top: -20px;
    list-style: none;
    display: inline-block;
}

.redes-sociais ul li {
    padding: 10px;
    display: inline;
}
.main{
    padding: 0;
}
.main-chamada p{
    font-size: 18px;
    font-family: 'noirpro-lightuploaded_file';
    margin-bottom: 20px;
}

.main-chamada h2{
    color: rgb(221, 6, 6);
}

.main-banner{
    margin: 0;
    padding: 0;
}

.form-divm {
    border:1px solid;
    margin-bottom:25px;
    border-radius: 0;
    padding: 0px 10px;
}

.main-banner img{
    width: 100%;
}

.banner-fixo{
    position: relative;
}

.banner-fixo img{
    left: 0;
    top: -150px;
    position: absolute;
    z-index: 9;
}

.btn-enviar, .btn-saiba{
    background: #ee2b32;
}

.btn-saiba{
   
    padding: 6px 20px;
    border-radius: 20px;
    border: none;
    font-size: 12px;
    text-align: center;
    margin: 30px auto;
}

.color-red {
color: #ee2b32!important;
}

.bg-red {
    background-color: #ee2b32!important;
    color:#fff;
}

.btn-saiba:hover, .btn-saiba:hover{
    background-color: red;
}

form{
    text-align: center;
}

.main-form .text-form-title{
    margin-bottom: 15px;
}
.main-form p{
    margin-bottom: 0;
}

.main-form textarea {
    min-height: 100px;
    max-height: 100px;
}

.main-form .pl-dvm {
    padding-left:0;
}
.main-form .pr-dvm {
    padding-right:5px;
}
.botao{
    text-align: center;
    margin-bottom: 15px;
}

form p{
    font-size: 18px;
    text-align: center;
    color: rgb(63, 62, 62);
    padding-top: 15px;
}

.btn-enviar{
    width: 180PX;
    height: 47px;
    border-radius: 26px;
    border: none;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
}

#home{
    margin-bottom: 100px;
}

#agencia{
    padding-top: 25px;    
    position: relative;
}
#agencia::before{
    position: absolute;
    top:0;
    left:0;
    content: "";
    z-index: -1;
    width: 100%;
    height: 60%;
    background-color: rgba(13, 155, 238, 0.849);
}

#agencia p{
    color: white;
    text-align: justify;
    font-size: 25px;
    font-family: 'noirpro-lightuploaded_file';
}
#agencia p.demo{
color: #504a4a;
margin-bottom: 65px;
}

.video-agencia iframe{
    width: 100%;
    height: 400px;
}

.white-bg{
    background: #fff;
    display: inline-block;
    width: 100%;
}

.title-portifolio {
    background: rgba(13, 155, 238, 0.849);;
}

.title-portifolio h2{
    color: rgba(13, 155, 238, 0.849);
    font-size: 20px;
    text-align: center;
}


.jobs-recentes{
    overflow: hidden;
    padding-top: 25px;
    background-color: #18a9e1;
}

.jobs-recentes .info-job-center {
 margin:25px 0;
}

.jobs-recentes p {
    font-family: 'noirpro-lightuploaded_file';
    font-size: 13px;
    padding-top: 14px;
    text-align: center;
}

.jobs-recentes h5{
    color: #fff;
    font-size: 40px;    
    text-align: right;
    padding: 9px;
    font-weight: normal;
    padding-right: 0;
    margin: 0;
}

.jobs-recentes .b-r{
    border-right: 2px solid #fff;
}

.jobs-carousel {
    margin-top: 55px;
}
.jobs-recentes{
    position: relative;
    /* min-height: 500px; */
}



.jobs-recentes::before{
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 35%;
    background-color: #fff;
}

.jobs-recentes p{
    color: white;
    text-align: justify;
}

.jobs-recentes h2{
    font-size: 25px;
}


#portifolio .title{
    color: rgba(13, 155, 238, 0.849);
}

.pl-carousel{
    margin-bottom: 50px;
}
.pl-carousel .item a {
    border: 8px solid #000;
    display: inline-block;
    padding: 0;
    border-bottom: 19px solid #000;
}
.title{
    font-size: 30px;
    margin: 25px 0;
}




.videos-main ul {
    display: inline-block;
    width: 100%;
    position: relative;
    list-style: none;
    display: inline-block;
}

.videos-main ul li {
    padding: 10px;
    display: inline;
}
.videos-main ul li iframe{
    width: 35%;
    float: left;
    margin: 25px;
    height: 300px;
}

#contato{
    background-color: rgb(239, 245, 250);
}

#contato p{
    text-align: justify;
    padding: 24px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 27px;
    color: rgb(109, 106, 106);
    font-family: 'noirpro-semibolduploaded_file';
}

.footer-img{
    text-align: center;
}

.footer-img ul{
    list-style: none;
    display: inline-block;
}

.footer-img ul li{
    display: inline;
    padding: 30px;
}

footer p{
    background-color: rgba(13, 155, 238, 0.849);
    color: white;
    font-size: 18px;
    text-align: center;
    width: 100%;
    padding: 8px;
    margin-bottom: 0;
}

.bg-blue p{
    background-color: rgba(13, 155, 238, 0.849);
    width: 100%;
    padding: 20px;
}

.text-contato h2{
    color: rgb(221, 6, 6);
    margin-bottom: 25px;
}

.text-contato h5{
    color: rgb(221, 6, 6);;
}

#download{
    color: rgb(148, 147, 147);
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
}

#download img{
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 30px;
}

#download p{
    float: right;
}
.whats {
    position: fixed;
    bottom: 10%;
    left: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.whats:hover {
    filter: brightness(110%);
}

.modal-lightbox .modal-content{
 border-radius: 0;
 border-radius: 0;
 border: 8px solid #000;
}

.modal-lightbox .modal-footer{
    display: block;
    background: #000;
    height: 30px;
    padding: 0;
    border-radius: 0;
    border: 0;
}
.modal-lightbox .modal-footer a.saiba-mais,
.modal-lightbox .modal-footer button.close
{
    font-family: 'noirpro-semibolduploaded_file';
    color: #00ABE4;
}
.modal-lightbox .modal-footer a.saiba-mais{
    float: left;
    margin-left: 15px;
}

.modal-lightbox .modal-footer button.close{
    float: right;
    padding: 0;
    font-weight: 600;
    margin-right: 15px;
}

.modal-lightbox .modal-body {
    padding: 0;
    background: #000;
}

.modal-lightbox .modal-body img{
    width: 100%;
}

.two-colors {
    margin: 60px 0;
}
.two-colors tr td{
    position:relative;
}
.two-colors p, .two-colors h4, .two-colors h1, .two-colors h2, .two-colors h3 {
    padding: 25px;
}


.two-colors tbody tr td:last-child{
    background-color: #18a9e1;
    color: #fff;
}

.two-colors tbody tr td:first-child img{
    margin-right: 15px;
}

.two-colors tbody tr td:last-child:before{
    content:"";
    width: 5000%;
    background-color: #18a9e1;
    height: 100%;
    top: 0;
    z-index: -1;
    position: absolute;
}
.two-colors tbody tr td {
    background-color: #fff;
    padding: 10px;
}
.two-colors tbody tr td:first-child:before{
    content:"";
    width: 5000%;
    left:-5000px;
    background-color: #e9f0f3;
    height: 100%;
    top: 0;
    z-index: -1;
    position: absolute;
}

#page_6 table p {
    padding: 25px;
}

#page_6 iframe{
    width: 100%;
    height: 360px;
}

.download .file{
    padding-top: 8px;
}

.download .file img {
    width: 45px;
}


.download {
    margin-top: 40px;
}

#pg-contato .google-maps{
    margin: 60px 0;
}
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1050px;
    }
}
