@import "../vars.scss";

#mediafiles_upload {
  .modal-header {
    background: #5555d4;
    color: #fff;
  }
  .modal-body {
    .container-fluid {
      padding: 0;
    }
    .jFiler-items {
      ul.list-inline li {
        float: left;
      }

      .jFiler-items-grid .jFiler-item {
        .jFiler-item-container {
          padding: 3px;
          .jFiler-item-thumb {
            width: 156px;
          }
        }
      }
    }
    #modal_load_media {
      height: 450px;
      overflow-y: auto;
    }
  }
}
